[COUCHDB]
user = username
pwd = password
ip = address
port = port
db = db
[OAUTH]
client_id = CLIENT_ID
client_secret = CLIENT_SECRET
authorized_emails = LIST_AUTHORIZED_EMAILS
[REMS]
ip = server
uid = username
pwd = password
[FIRESTORE]
cred_file = FIRESTORE_CREDENTIALS_FILE
[POSTGRES]
username = username
password = password
database = database