appdirs>=1.4.4
astroid>=2.4.2
attrs>=19.3.0
autopep8>=1.5.3
black>=19.10b0
CacheControl>=0.12.6
certifi>=2020.6.20
chardet>=3.0.4
Click>=7.0
cloudant>=2.13.0
colorama>=0.4.3
contextlib2>=0.6.0
CouchDB>=1.2
dash>=1.13.4
dash-bootstrap-components>=0.10.3
dash-core-components>=1.10.1
dash-daq>=0.5.0
dash-google-auth>=0.1.2.dev7+g11408f5
dash-html-components>=1.0.3
dash-renderer>=1.5.1
dash-table>=4.8.1
distlib>=0.3.0
distro>=1.4.0
entrypoints>=0.3
flake8>=3.8.3
Flask>=1.1.1
Flask-Compress>=1.4.0
Flask-Dance>=3.0.0
future>=0.18.2
gunicorn>=20.0.4
html5lib>=1.0.1
idna>=2.10
ipaddr>=2.2.0
isort>=4.3.21
itsdangerous>=1.1.0
jedi>=0.17.1
Jinja2>=2.10.3
lazy-object-proxy>=1.4.3
lockfile>=0.12.2
MarkupSafe>=1.1.1
mccabe>=0.6.1
msgpack>=0.6.2
mypy>=0.782
mypy-extensions>=0.4.3
names>=0.3.0
numpy>=1.17.4
oauthlib>=3.1.0
packaging>=20.3
pandas>=1.1.5
parso>=0.7.0
pathspec>=0.8.0
pep517>=0.8.2
plotly>=4.3.0
pluggy>=0.13.1
progress>=1.5
pycodestyle>=2.6.0
pydocstyle>=5.0.2
pyflakes>=2.2.0
pylint>=2.6.0
pyls-black>=0.4.6
pyls-isort>=0.1.1
pyls-mypy>=0.1.8
pyodbc>=4.0.30
pyparsing>=2.4.6
python-dateutil>=2.8.1
python-jsonrpc-server>=0.3.4
python-language-server>=0.34.1
python-lorem>=1.1.2
pytoml>=0.1.21
pytz>=2019.3
regex>=2020.6.8
requests>=2.24.0
requests-oauthlib>=1.3.0
retrying>=1.3.3
rope>=0.17.0
six>=1.13.0
snowballstemmer>=2.0.0
toml>=0.10.1
typed-ast>=1.4.1
typing-extensions>=3.7.4.2
ujson>=1.35
urllib3>=1.25.9
URLObject>=2.4.3
webencodings>=0.5.1
Werkzeug>=0.16.0
wrapt>=1.12.1
yapf>=0.30.0
